<ion-view>
  <ion-header-bar class="bar-stable">
    <ion-title>晓园</ion-title>
  </ion-header-bar>
  <ion-content>
    <ion-list id="mainlist">
      <ion-item ng-repeat="chat in chats" ng-click="chatwidth('{{chat.id}}','{{chat.name}}')">
        <img ng-src="chat.to.image" ng-if="chat.to.image">
        <img ng-src="../../img/avata_128.jpg" ng-if="!chat.to.image">
        <div class="right">
          <p class="name">{{chat.name}}</p>
          <p class="content">{{chat.content[0]}}</p>
          <p>{{chat.content.length}}条新消息</p>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
