<ion-view title="新增学校">
  <ion-content>
    <form role="form" name="schoolForm" novalidate>
      <div class="list list-inset" id="city1">
        <label class="item item-input m10">
          <i class="icon ion-ios-home-outline placeholder-icon"></i>
          <input type="text" placeholder="不小于6个字符的学校名称" required ng-minlength="6" name="name" ng-model="school.name">
          <i class="ion-close-round pr10 red" ng-show="schoolForm.name.$dirty && schoolForm.name.$invalid"></i>
          <i class="ion-checkmark-round pr10 green" ng-show="schoolForm.name.$dirty && schoolForm.name.$valid"></i>
        </label>
        <label class="item item-input item-select m10">
          <i class="icon ion-ios-location-outline placeholder-icon"></i>
          <label class="input-label placeholder-icon">省/直辖市</label>
          <select name="province" class="prov" ng-model="school.province">

          </select>
          <i class="ion-close-round pr10 red" ng-show="schoolForm.province.$dirty && schoolForm.province.$invalid"></i>
          <i class="ion-checkmark-round pr10 green" ng-show="schoolForm.province.$dirty && schoolForm.province.$valid"></i>
        </label>
        <label class="item item-input item-select m10">
          <label class="input-label placeholder-icon">市</label>
          <select name="city" class="city" ng-model="school.city" required>

          </select>
          <i class="ion-close-round pr10 red" ng-show="schoolForm.city.$dirty && schoolForm.city.$invalid"></i>
          <i class="ion-checkmark-round pr10 green" ng-show="schoolForm.city.$dirty && schoolForm.city.$valid"></i>
        </label>
        <label class="item item-input item-select m10">
          <label class="input-label placeholder-icon">区/县</label>
          <select name="country" class="dist">

          </select>
        </label>
        <label class="item item-input m10">
          <textarea placeholder="详细地址" name="address" id="address" ng-model="school.address" rows="3"></textarea>
        </label>
        <label class="item item-input m10">
          <textarea placeholder="描述" name="intro" id="intro" ng-model="school.intro" rows="3"></textarea>
        </label>
        <button class="button button-full button-positive" ng-disabled="schoolForm.$invalid" ng-click="doLogin()">
          提交
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
