/* Empty. Add your own CSS if you like */
.red {
  color: #ff0000;
}
.green {
  color: #00ff00;
}
.blue {
  color: #387ef5;
}
.m10 {
  margin: 10px;
}
.noborder {
  border: none !important;
}
.pr10 {
  padding-right: 10px;
}
.avatar-bg {
  height: 175px;
  background: url(../img/avatar-bg.jpg) no-repeat center center;
  position: relative;
  text-align: center;
}
.avatar-bg .avatar {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}
.avatar-bg .username {
  color: #fff;
  position: relative;
  z-index: 2;
  margin: 0px;
}
.avatar-bg i {
  color: #fff;
  font-size: 20px;
  position: relative;
  z-index: 2;
}
.avatar-bg .intro {
  color: #fff;
  font-size: 12px;
  position: relative;
  z-index: 2;
  text-decoration: none;
  display: inline-block;
  margin: 0px;
}
.avatar-bg .login {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
  position: relative;
  z-index: 2;
  text-decoration: none;
}
.avatar-bg:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  opacity: 0.3;
  top: 0px;
}
.user_achieve_num {
  border-bottom: #f8f8f8 1px solid;
}
.user_achieve_num .col-25 {
  height: 44px;
  padding: 5px 0px;
  border-right: #f8f8f8 1px solid;
  text-align: center;
}
.user_achieve_num .col-25 a {
  text-decoration: none;
}
.user_achieve_num .col-25 a p {
  text-decoration: none;
  color: #111;
  text-align: center;
  margin: 0px;
  line-height: 17px;
}
.fun_list .item a {
  color: #111;
  text-decoration: none;
}
.fun_list i.icon {
  color: #387ef5;
}
